Host {{ host_name }}
  user                       {{ host_user}}
  StrictHostKeyChecking      no
  ProxyCommand               none
  CheckHostIP                no
  ForwardAgent               yes
  Port                       {{ host_ssh_port }}

Host *
  ProxyCommand               ssh {{ host_user }}@{{ host_name }} -p {{ host_ssh_port }} -W %h:%p
  StrictHostKeyChecking      no
  ForwardAgent               yes
  CheckHostIP                no
  user                       cloud-user
  #IdentityFile               /path/to/ssh/key
