#cloud-config

users:
  - default

rh_subscription:
  username: "{{ rh_sub_user }}"
  password: "{{ rh_sub_password }}"
  add-pool: ["rh_sub_pool"]

runcmd:
  - [ subscription-manager, repos, --disable="*" ]
  - [ subscription-manager, repos, --enable="rhel-7-server-rpms", --enable="rhel-7-server-extras-rpms" ]

chpasswd:
  list: |
     root:{{ guest_default_pw }}
     cloud-user:{{ guest_default_pw }}
  expire: False

timezone: Europe/Helsinki
