#cloud-config

users:
  - default

bootcmd:
  - systemctl disable --now NetworkManager
  - echo -e "ADDRESS0=0.0.0.0\nNETMASK0=0.0.0.0\nGATEWAY0={{ item.value.gateway }}" > /etc/sysconfig/network-scripts/route-eth0
  - grep -q DNS /etc/sysconfig/network-scripts/ifcfg-eth0 || echo -e  "PEERDNS=no\nDNS1={{ item.value.gateway }}\nDNS2=8.8.8.8" >>/etc/sysconfig/network-scripts/ifcfg-eth0
  - ifdown eth0
  - ifup eth0


rh_subscription:
  username: "{{ rh_sub_user }}"
  password: "{{ rh_sub_password }}"
  add-pool: ["rh_sub_pool"]

runcmd:
  - [ subscription-manager, repos, --disable="*" ]
  - [ subscription-manager, repos, --enable="rhel-7-server-rpms", --enable="rhel-7-server-extras-rpms" ]
 
chpasswd:
  list: |
     root:{{ guest_default_pw }}
     cloud-user:{{ guest_default_pw }}
  expire: False

timezone: Europe/Helsinki
